<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons (click)="backHome()" class="ion-margin-start" slot="start">
            <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title color="light">ក្រសួងពាណិជ្ជកម្ម</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isFetching">
    <div class="main-container">
        <ion-grid class="ion-no-padding">
            <ion-row>
                    <strong>ចុះបញ្ជីពាណិជ្ជកម្មលេខ :</strong>
                    <p class="ion-margin-start">{{ moc.mocNumber }}</p>
            </ion-row>
            <ion-row>
                    <strong>ចុះថ្ងៃទី :</strong>
                    <p class="ion-margin-start">{{ moment(moc.notedDate).format('DD-MM-YYYY') }}</p>
            </ion-row>
            <ion-row>
                    <strong>ដើមទុនចុះបញ្ជី :</strong>
                    <p class="ion-margin-start">{{ moc.capital | number }} <strong>រៀល</strong></p>
            </ion-row>
            <ion-row>
                    <strong>ប្រភេទ :</strong>
                    <p class="ion-margin-start">{{ companyTypeInKhmer[moc.companyType] }}</p>
            </ion-row>
            <ion-row>
                    <strong>ថ្ងៃខែតម្កល់ប្រតិវេទប្រចាំឆ្នាំ :</strong>
                    <p class="ion-margin-start">{{ moment(moc.annualTranscriptMaintenanceDate).format('DD-MM-YYYY') }}</p>
            </ion-row>
            <ion-row>
                    <strong>ឈ្មោះប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</strong>
                    <p class="ion-margin-start">{{ moc.mocUsernameLogin }}</p>
            </ion-row>
            <ion-row>
                    <strong>លេខកូដប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</strong>
                    <p class="ion-margin-start">{{ moc.mocPasswordLogin }}</p>
            </ion-row>
        </ion-grid>
        <!-- PDF section  -->
        <div class="Pdf-file">
            <strong>ទាញយកឯកសារជា PDF :</strong>
            <ion-row class="ion-margin-top">
                <div *ngIf="docs && docs.moc_certificate">
                    <p>1.<a (click)="dowloadPDF(docs.moc_certificate, 'moc_certificate')">វិញ្ញាបនប័ត្រចុះបញ្ជីពាណិជ្ជកម្ម</a></p>
                    <pdf-viewer
                        src="{{docs.moc_certificate}}"
                        [fit-to-page]="false"
                        [show-all]="false"
                        [original-size]="false"
                        [autoresize]="false"
                        [show-borders]="true"
                        (click)="dowloadPDF(docs.moc_certificate, 'moc_certificate')"
                        style="display: block;">
                    </pdf-viewer>
                </div>

                <div class="ion-margin-start" *ngIf="docs && docs.business_extract">
                    <p>2.<a (click)="dowloadPDF(docs.business_extract, 'business_extract')">សម្រង់ក្រុមហ៊ុន</a></p>
                    <pdf-viewer
                        [src]="docs.business_extract"
                        [fit-to-page]="false"
                        [show-all]="false"
                        [original-size]="false"
                        [autoresize]="false"
                        [show-borders]="true"
                        (click)="dowloadPDF(docs.business_extract, 'business_extract')"
                        style="display: block;">
                    </pdf-viewer>
                </div>
            </ion-row>
        </div>
    </div>
</ion-content>
