ion-content {
    .main-container {
        padding: 25px 10px 0 10px;

        ion-skeleton-text {
            height: 16px;
        }

        ion-card {
            color: #000;

            ion-card-content {
                padding: 16px;
            }
            
        }

        .pdf-file {
            margin-top: 25px;

            a {
                text-decoration: underline;
                color: #3069bb;
            }

            .pdf-icon {
                font-size: 5rem;
            }
        }
    }
}

