<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons (click)="backHome()" class="ion-margin-start" slot="start">
            <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title color="light">ក្រសួងពាណិជ្ជកម្ម</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isFetching">
    <div class="main-container">
        <ion-grid *ngIf="moc" class="ion-no-padding">
            <ion-row>
                    <strong>ចុះបញ្ជីពាណិជ្ជកម្មលេខ :</strong>
                    <p class="ion-margin-start">{{ moc.mocNumber }}</p>
            </ion-row>
            <ion-row>
                    <strong>ចុះថ្ងៃទី :</strong>
                    <p class="ion-margin-start">{{ moment(moc.notedDate).format('DD-MM-YYYY') }}</p>
            </ion-row>
            <ion-row>
                    <strong>ដើមទុនចុះបញ្ជី :</strong>
                    <p class="ion-margin-start">{{ moc.capital | number }} <strong>រៀល</strong></p>
            </ion-row>
            <ion-row>
                    <strong>ប្រភេទ :</strong>
                    <p class="ion-margin-start">{{ companyTypeInKhmer[moc.companyType] }}</p>
            </ion-row>
            <ion-row>
                    <strong>ថ្ងៃខែតម្កល់ប្រតិវេទប្រចាំឆ្នាំ :</strong>
                    <p class="ion-margin-start">{{ moment(moc.annualTranscriptMaintenanceDate).format('DD-MM-YYYY') }}</p>
            </ion-row>
            <ion-row>
                    <strong>ឈ្មោះប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</strong>
                    <p class="ion-margin-start">{{ moc.mocUsernameLogin }}</p>
            </ion-row>
            <ion-row>
                    <strong>លេខកូដប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</strong>
                    <p class="ion-margin-start">{{ moc.mocPasswordLogin }}</p>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="!moc" class="ion-no-padding">
            <ion-row>
                    <strong>ចុះបញ្ជីពាណិជ្ជកម្មលេខ :</strong>
                    <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                    <strong>ចុះថ្ងៃទី :</strong>
                    <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                    <strong>ដើមទុនចុះបញ្ជី :</strong>
                    <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                    <strong>ប្រភេទ :</strong>
                    <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                    <strong>ថ្ងៃខែតម្កល់ប្រតិវេទប្រចាំឆ្នាំ :</strong>
                    <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                    <strong>ឈ្មោះប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</strong>
                    <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                    <strong>លេខកូដប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</strong>
                    <p class="ion-margin-start">?</p>
            </ion-row>
        </ion-grid>
        <!-- PDF section  -->
        <div class="Pdf-file">
            <strong>ទាញយកឯកសារជា PDF :</strong>
            <div  *ngIf="docs">
                <ion-card class="doc-card">
                    <ion-row *ngIf="docs.moc_certificate">
                        <ion-col size="3">
                            <ion-icon (click)="onClickDowload(docs.moc_certificate, 'moc_certificate')"
                                color="primary" 
                                class="pdf-icon" 
                                name="document-attach">
                            </ion-icon>
                        </ion-col>
                        <ion-col>
                            <p>1. វិញ្ញាបនប័ត្រចុះបញ្ជីពាណិជ្ជកម្ម</p>
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon
                                (click)="onClickDowload(docs.moc_certificate, 'moc_certificate')"
                                color="primary"
                                size="large"
                                name="download"
                                mode="md">
                            </ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <ion-card class="doc-card">
                    <ion-row *ngIf="docs.business_extract">
                        <ion-col size="3">
                            <ion-icon (click)="onClickDowload(docs.business_extract, 'business_extract')"
                                color="primary" 
                                class="pdf-icon" 
                                name="document-attach">
                            </ion-icon>
                        </ion-col>
                        <ion-col>
                            <p>2. សម្រង់ក្រុមហ៊ុន</p>
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon
                                (click)="onClickDowload(docs.business_extract, 'business_extract')"
                                color="primary"
                                size="large"
                                name="download"
                                mode="md">
                            </ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>
