ion-content {
    .main-container {
        padding: 30px 0 0 15px;

        .title {
            p {
                font-size: 12px;
                margin-bottom: 19px;
            }
        }

        .value {
            p {
                font-size: 14px;
                margin-left: 10px;
            }
        }

        .Pdf-file {
            p {
                font-size: 12px;
            }
        }
    }
}

pdf-viewer {
    // display: block;
    height: 200px;
    width: 150px;
}

::ng-deep .pdfViewer .page .textLayer {
    border: 1px solid;
}
