<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons (click)="backTaxCalculation()" class="ion-padding-horizontal" slot="start">
			<ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title color="light">{{ 'TAX_CALCULATION.BTN1' | translate }} (៛)</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="main-container">
		<!-- <div class="ion-text-center">
			<strong>គិតចាប់ពីថ្ងៃទី ០១ ដល់ ៣០ នៃខែ...</strong>
		</div> -->
		<div class="ion-margin-top">
			<form class="tax-calculation-form ion-padding-horizontal"  [formGroup]="taxCalculationForm">
				<ion-label position="floating">{{ 'TAX_CALCULATION.REVENUE' | translate }}*</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 ៛" formControlName="revenue" min="0"></ion-input>
				</ion-item>
				<ion-label position="floating">{{ 'TAX_CALCULATION.EXPENDITURES_WITH_TOTAL_TAX_INVOICE' | translate }}</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 ៛" formControlName="expendWithInvoiceTotal" min="0"></ion-input>
				</ion-item>
				<ion-label position="floating">{{ 'TAX_CALCULATION.PROPERTY_RENTAL_EXPENSES' | translate }}</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 ៛" formControlName="expendOnRenting" min="0"></ion-input>
				</ion-item>
				<ion-label position="floating">{{ 'TAX_CALCULATION.OUTSOURCE_SERVICE_EXPENSES' | translate }}</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 ៛" formControlName="expendOnOutsideService" min="0"></ion-input>
				</ion-item>
				<div>
					<ion-row>
						<ion-col class="ion-no-padding ion-padding-end" size="5">
							<ion-button type="reset" fill="outline" class="w-100-p btn-calculation" (click)="reset()">
								<ion-label>{{ 'TAX_CALCULATION.BTN_RESET' | translate }}</ion-label>
							</ion-button>
						</ion-col>
						<ion-col class="ion-no-padding" size="7">
							<ion-button color="primary" type="submit" class="w-100-p btn-calculation" (click)="calculation()">
								<ion-label color="light">{{ 'TAX_CALCULATION.BTN_CALCULATE' | translate }}</ion-label>
							</ion-button>
						</ion-col>
					</ion-row>
				</div>
			</form>
		</div>
		<!-- Result of calculation -->
		<div *ngIf="isShowingResults" class="ion-padding-horizontal">
			<div class="ion-text-center ion-margin-top">
				<strong>{{ 'TAX_CALCULATION.RESULT' | translate }}</strong>
			</div>
			<div class="ion-margin-bottom">
				<ion-card class="result-card ion-no-margin ion-padding-vertical">
					<ion-card-content class="ion-no-padding">
						<ion-list class="result-list ion-no-padding" lines="none">
							<ion-item>
								<ion-col>
									<ion-label color="light">{{ 'TAX_CALCULATION.INCOME_TAX_RELIEF' | translate }} ៖</ion-label>
									<ion-label color="light" class="ion-text-center">
										<strong>
											{{calucationResults.incomeTax | number}} ៛
										</strong>
									</ion-label>
								</ion-col>
							</ion-item>
							<ion-item>
								<ion-col>
									<ion-label color="light">{{ 'TAX_CALCULATION.VAT_TO_BE_PAID' | translate }} ៖</ion-label>
									<ion-label color="light" class="ion-text-center">
										<strong>
											{{calucationResults.valueAddedTax | number}} ៛
										</strong>
									</ion-label>
								</ion-col>
							</ion-item>
							<ion-item>
								<ion-col>
									<ion-label color="light">{{ 'TAX_CALCULATION.RENTAL_WITHHOLDING_TAX' | translate }} 10% ៖</ion-label>
									<ion-label color="light" class="ion-text-center">
										<strong>
											{{calucationResults.rentingTax | number}} ៛
										</strong>
									</ion-label>
								</ion-col>
							</ion-item>
							<ion-item>
								<ion-col>
									<ion-label color="light">{{ 'TAX_CALCULATION.WITHHOLDING_TAX_ON_SERVICE' | translate }} 15% ៖</ion-label>
									<ion-label color="light" class="ion-text-center">
										<strong>
											{{calucationResults.serviceTax | number}} ៛
										</strong>
									</ion-label>
								</ion-col>
							</ion-item>
						</ion-list>
					</ion-card-content>
				</ion-card>
			</div>
		</div>
	</div>
</ion-content>
