<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons (click)="backTaxCalculation()" class="ion-padding-horizontal" slot="start">
			<ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title color="light">ការគណនាពន្ធប្រចាំខែ</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="main-container">
		<div class="ion-text-center">
			<strong>គិតចាប់ពីថ្ងៃទី ០១ ដល់ ៣០ នៃខែ...</strong>
		</div>
		<div class="ion-margin-top">
			<form class="tax-calculation-form ion-padding-horizontal"  [formGroup]="taxCalculationForm">
				<ion-label position="floating">ប្រាក់ចំណូលក្រុមហ៊ុន៖</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 រៀល" formControlName="revenue"></ion-input>
				</ion-item>
				<ion-label position="floating">ចំណាយដែលមានវិក័យបត្រអាករសរុប៖</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 រៀល" formControlName="expendWithInvoiceTotal"></ion-input>
				</ion-item>
				<ion-label position="floating">ចំណាយលើជួលចលទ្រព្យ និងអចលទ្រព្យ៖</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 រៀល" formControlName="expendOnRenting"></ion-input>
				</ion-item>
				<ion-label position="floating">ចំណាយលើសេវាកម្មនៃបុគ្គលមិនមែនក្រុមហ៊ុន៖</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 រៀល" formControlName="expendOnOutsideService"></ion-input>
				</ion-item>
				<div>
					<ion-button color="primary" type="submit" class="w-100-p btn-calculation" (click)="calculation()">
						<ion-label color="light">គណនាពន្ធ</ion-label>
					</ion-button>
				</div>
			</form>
		</div>
		<!-- Result of calculation -->
		<div class="ion-text-center ion-margin-top">
			<strong>លទ្ធផលនៃការគណនាប្រាក់ពន្ធ</strong>
		</div>
		<div>
			<ion-card class="result-card ion-no-margin">
				<ion-card-content class="ion-no-padding">
					<ion-list class="result-list ion-no-padding" lines="none">
						<ion-item>
							<ion-label>ប្រាក់រំដោះពន្ធលើប្រាក់ចំណូល ៖</ion-label>
						</ion-item>
						<ion-item>
							<ion-label>អាករលើតម្លៃបន្ថែម ៖</ion-label>
						</ion-item>
						<ion-item>
							<ion-label>ពន្ធកាត់ទុកលើការជូល ១០% ៖</ion-label>
						</ion-item>
						<ion-item>
							<ion-label>ពន្ធកាត់ទុកលើការសេវាកម្ម ១៥% ៖</ion-label>
						</ion-item>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</div>
	</div>
</ion-content>
