<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons (click)="backTaxCalculation()" class="ion-padding-horizontal" slot="start">
			<ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title color="light">ការគណនាពន្ធទូទៅ</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="main-container">
		<div class="ion-text-center">
			<strong>គិតចាប់ពីថ្ងៃទី ០១ ដល់ ៣០ នៃខែ...</strong>
		</div>
		<div class="ion-margin-top">
			<form class="tax-calculation-form ion-padding-horizontal"  [formGroup]="taxCalculationForm">
				<ion-label position="floating">ប្រាក់ចំណូលក្រុមហ៊ុន*</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 រៀល" formControlName="revenue" min="0"></ion-input>
				</ion-item>
				<ion-label position="floating">ចំណាយដែលមានវិក័យបត្រអាករសរុប</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 រៀល" formControlName="expendWithInvoiceTotal" min="0"></ion-input>
				</ion-item>
				<ion-label position="floating">ចំណាយលើជួលចលទ្រព្យ និងអចលទ្រព្យ</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 រៀល" formControlName="expendOnRenting" min="0"></ion-input>
				</ion-item>
				<ion-label position="floating">ចំណាយលើសេវាកម្មនៃបុគ្គលិកមិនមែនក្រុមហ៊ុន</ion-label>
				<ion-item>
					<ion-input type="number" placeholder="0 រៀល" formControlName="expendOnOutsideService" min="0"></ion-input>
				</ion-item>
				<div>
					<ion-row>
						<ion-col class="ion-no-padding ion-padding-end" size="5">
							<ion-button type="reset" fill="outline" class="w-100-p btn-calculation" (click)="reset()">
								<ion-label>កំណត់ឡើងវិញ</ion-label>
							</ion-button>
						</ion-col>
						<ion-col class="ion-no-padding" size="7">
							<ion-button color="primary" type="submit" class="w-100-p btn-calculation" (click)="calculation()">
								<ion-label color="light">គណនាពន្ធ</ion-label>
							</ion-button>
						</ion-col>
					</ion-row>
				</div>
			</form>
		</div>
		<!-- Result of calculation -->
		<div *ngIf="isShowingResults">
			<div class="ion-text-center ion-margin-top">
				<strong>លទ្ធផលនៃការគណនាប្រាក់ពន្ធ</strong>
			</div>
			<div class="ion-margin-bottom">
				<ion-card class="result-card ion-no-margin">
					<ion-card-content class="ion-no-padding">
						<ion-list class="result-list ion-no-padding" lines="none">
							<ion-item>
								<ion-label color="light">ប្រាក់រំដោះពន្ធលើប្រាក់ចំណូល ៖ {{calucationResults.incomeTax}}</ion-label>
							</ion-item>
							<ion-item>
								<ion-label color="light">អាករលើតម្លៃបន្ថែម ៖ {{calucationResults.valueAddedTax}}</ion-label>
							</ion-item>
							<ion-item>
								<ion-label color="light">ពន្ធកាត់ទុកលើការជូល ១០% ៖ {{calucationResults.rentingTax}}</ion-label>
							</ion-item>
							<ion-item>
								<ion-label color="light">ពន្ធកាត់ទុកលើការសេវាកម្ម ១៥% ៖ {{calucationResults.serviceTax}}</ion-label>
							</ion-item>
						</ion-list>
					</ion-card-content>
				</ion-card>
			</div>
		</div>
	</div>
</ion-content>
