<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="moc">
      <!-- <ion-icon name="home"></ion-icon> -->
      <ion-icon size="large" name="business"></ion-icon>
      <ion-label class="text-bold ion-no-margin">{{ 'MOC.HEADER' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tax">
      <ion-icon size="large" name="newspaper"></ion-icon>
      <ion-label class="text-bold ion-no-margin">{{ 'GDT' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>