<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="backHome()" class="ion-padding-horizontal" slot="start">
        <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title color="light">{{ 'COMPANY_STATUS.HEADER' | translate }}</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container ion-padding-top">
    <strong class="ion-margin-start">ពន្ធប្រចាំឆ្នាំ (5ឆ្នាំចុងក្រោយ)</strong>
    <div *ngIf="!isFetching">
      <ion-row class="table_header ion-margin-top">
        <ion-col size="4" class="border-bottom text-center">
          <div>
            <h6>ឆ្នាំ</h6>
          </div>
        </ion-col>
        <ion-col size="8" class="border-bottom">
          <div>
            <h6>ប្រាក់ពន្ធបានបង់ (រៀល)</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of taxPerYears" class="ion-margin-top">
        <ion-col size="4" class="border-bottom text-center">
          <div>
            <h6>{{ item.year }}</h6>
          </div>
        </ion-col>
        <ion-col size="8" class="border-bottom">
          <div>
            <h6>{{ item.taxPaidAmount ? (item.taxPaidAmount | number) : '...' }}</h6>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <!-- loading -->
    <div *ngIf="isFetching">
      <ion-row class="table_header ion-margin-top">
        <ion-col size="12">
          <ion-skeleton-text class="ion-margin-top" animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text class="ion-margin-top" animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text class="ion-margin-top" animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text class="ion-margin-top" animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text class="ion-margin-top" animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text class="ion-margin-top" animated style="width: 40%"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
