ion-content {
    .main-container {
        padding: 20px 0px 0 0px;

        ion-card {
            color: #000;

            ion-card-content {
                padding: 16px;
            }

            ion-card-title {
                font-size: 16px;
                font-weight: bold;
            }
            
        }

        .pdf-file {
            // margin-top: 0px;

            a {
                text-decoration: underline;
                color: #3069bb;
                font-size: 14px;
            }

            .pdf-icon {
                font-size: 4rem;
            }
        }
    }
}
