<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons (click)="backHome()" class="ion-margin-start" slot="start">
            <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title color="light">អគ្គនាយកដ្ឋានពន្ធដារ</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="!isFetching">
    <div class="main-container">
        <ion-grid *ngIf="dot" class="ion-no-padding">
            <ion-row>
                <strong>លេខអត្តសញ្ញាណសារពើពន្ធ :</strong>
                <p class="ion-margin-start">{{ dot.dotNumber }}</p>
            </ion-row>
            <ion-row>
                <strong>ចុះថ្ងៃទី :</strong>
                <p class="ion-margin-start">{{ moment(dot.notedDate).format('DD-MM-YYYY') }}</p>
            </ion-row>
            <ion-row>
                <strong>ចុះបញ្ជីនៅ :</strong>
                <p class="ion-margin-start">{{ dot.notedAtBranch }} <strong>រៀល</strong></p>
            </ion-row>
            <ion-row>
                <strong>អាសយដ្ឋាន :</strong>
                <p class="ion-margin-start">{{ dot.address }}</p>
            </ion-row>
            <ion-row>
                <strong>ឈ្មោះធនាគារ :</strong>
                <p class="ion-margin-start">{{ dot.bankName }}</p>
            </ion-row>
            <ion-row>
                <strong>ឈ្មោះគណនីធនាគារ :</strong>
                <p class="ion-margin-start">{{ dot.bankAccountName }}</p>
            </ion-row>
            <ion-row>
                <strong>លេខគណនីធនាគារ :</strong>
                <p class="ion-margin-start">{{ dot.bankAccountNumber }}</p>
            </ion-row>
            <ion-row>
                <strong>លេខកាតពន្ធដារ :</strong>
                <p class="ion-margin-start">{{ dot.taxationCardNumber }}</p>
            </ion-row>
            <ion-row>
                <strong>លេខទូរសព្ទភ្ជាប់ប្រព័ន្ធ :</strong>
                <p class="ion-margin-start">{{ dot.phoneNumber }}</p>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="!dot" class="ion-no-padding">
            <ion-row>
                <strong>លេខអត្តសញ្ញាណសារពើពន្ធ :</strong>
                <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                <strong>ចុះថ្ងៃទី :</strong>
                <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                <strong>ចុះបញ្ជីនៅ :</strong>
                <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                <strong>អាសយដ្ឋាន :</strong>
                <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                <strong>ឈ្មោះធនាគារ :</strong>
                <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                <strong>ឈ្មោះគណនីធនាគារ :</strong>
                <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                <strong>លេខគណនីធនាគារ :</strong>
                <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                <strong>លេខកាតពន្ធដារ :</strong>
                <p class="ion-margin-start">?</p>
            </ion-row>
            <ion-row>
                <strong>លេខទូរសព្ទភ្ជាប់ប្រព័ន្ធ :</strong>
                <p class="ion-margin-start">?</p>
            </ion-row>
        </ion-grid>
        <!-- PDF section  -->
        <div class="Pdf-file">
            <strong>ទាញយកឯកសារជា PDF :</strong>
            <div  *ngIf="docs">
                <ion-card class="doc-card">
                    <ion-row *ngIf="docs.vat_certificate">
                        <ion-col size="3">
                            <ion-icon (click)="dowloadPDF(docs.vat_certificate, 'vat_certificate')"
                                color="primary" 
                                class="pdf-icon" 
                                name="document-attach">
                            </ion-icon>
                        </ion-col>
                        <ion-col>
                            <p>1. វិញ្ញាបនប័ត្រចុះបញ្ជីពន្ធដារ</p>
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon
                                (click)="dowloadPDF(docs.vat_certificate, 'vat_certificate')"
                                color="primary"
                                size="large"
                                name="download"
                                mode="md">
                            </ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <ion-card class="doc-card">
                    <ion-row *ngIf="docs.patent">
                        <ion-col size="3">
                            <ion-icon (click)="dowloadPDF(docs.patent, 'patent')"
                                color="primary" 
                                class="pdf-icon" 
                                name="document-attach">
                            </ion-icon>
                        </ion-col>
                        <ion-col>
                            <p>2. ប័ណ្ណប៉ាតង់</p>
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon
                                (click)="dowloadPDF(docs.patent, 'patent')"
                                color="primary"
                                size="large"
                                name="download"
                                mode="md">
                            </ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <ion-card class="doc-card">
                    <ion-row *ngIf="docs.gdt_card">
                        <ion-col size="3">
                            <ion-icon (click)="dowloadPDF(docs.gdt_card, 'gdt_card')"
                                color="primary" 
                                class="pdf-icon" 
                                name="document-attach">
                            </ion-icon>
                        </ion-col>
                        <ion-col>
                            <p>3. កាតពន្ធដារ</p>
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon
                                (click)="dowloadPDF(docs.gdt_card, 'gdt_card')"
                                color="primary"
                                size="large"
                                name="download"
                                mode="md">
                            </ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>

<!-- <pdf-viewer
    [src]="docs.patent"
    [fit-to-page]="false"
    [show-all]="false"
    [original-size]="false"
    [autoresize]="false"
    [show-borders]="true"
    (click)="dowloadPDF(docs.patent, 'patent')"
    style="display: block;">
</pdf-viewer> -->
