<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons (click)="backHome()" class="ion-margin-start" slot="start">
            <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title color="light">{{ 'GDT.HEADER' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-progress-bar *ngIf="isFetching" type="indeterminate"></ion-progress-bar>
    <div class="main-container">
        <ion-grid *ngIf="dot" class="ion-no-padding">
            <ion-row>
                <strong>{{ 'GDT.TAX_IDENTIFICATION' | translate }} :</strong>
                <p class="ion-margin-start">{{ dot.dotNumber }}</p>
            </ion-row>
            <ion-row>
                <strong>{{ 'GDT.REGISTRATION_DATE' | translate }} :</strong>
                <p class="ion-margin-start">{{ moment(dot.notedDate).format('DD-MM-YYYY') }}</p>
            </ion-row>
            <ion-row>
                <strong>{{ 'GDT.REGISTRATION_AT' | translate }} :</strong>
                <p class="ion-margin-start">{{ dot.notedAtBranch }}</p>
            </ion-row>
            <ion-row>
                <strong>{{ 'GDT.ADDRESS' | translate }} :</strong>
                <p class="ion-margin-start">{{ dot.address }}</p>
            </ion-row>
            <ion-row>
                <strong>{{ 'GDT.BANK_NAME' | translate }} :</strong>
                <p class="ion-margin-start">{{ dot.bankName }}</p>
            </ion-row>
            <ion-row>
                <strong>{{ 'GDT.BANK_ACC_NAME' | translate }} :</strong>
                <p class="ion-margin-start">{{ dot.bankAccountName }}</p>
            </ion-row>
            <ion-row>
                <strong>{{ 'GDT.BANK_ACC_NUM' | translate }} :</strong>
                <p class="ion-margin-start">{{ dot.bankAccountNumber }}</p>
            </ion-row>
            <ion-row>
                <strong>{{ 'GDT.TAX_CARD_NUM' | translate }} :</strong>
                <p class="ion-margin-start">{{ dot.taxationCardNumber }}</p>
            </ion-row>
            <ion-row>
                <strong>{{ 'GDT.PHONE_NUMBER' | translate }} :</strong>
                <p class="ion-margin-start">{{ dot.phoneNumber }}</p>
            </ion-row>
        </ion-grid>
        <!-- loading -->
        <ion-grid *ngIf="!dot" class="ion-no-padding">
            <ion-row class="ion-margin-top">
                <strong>{{ 'GDT.TAX_IDENTIFICATION' | translate }} :</strong>
                <ion-skeleton-text class="ion-margin-start" animated style="width: 50%"></ion-skeleton-text>
            </ion-row>
            <ion-row class="ion-margin-top">
                <strong>{{ 'GDT.REGISTRATION_DATE' | translate }} :</strong>
                <ion-skeleton-text class="ion-margin-start" animated style="width: 50%"></ion-skeleton-text>
            </ion-row>
            <ion-row class="ion-margin-top">
                <strong>{{ 'GDT.REGISTRATION_AT' | translate }} :</strong>
                <ion-skeleton-text class="ion-margin-start" animated style="width: 50%"></ion-skeleton-text>
            </ion-row>
            <ion-row class="ion-margin-top">
                <strong>{{ 'GDT.ADDRESS' | translate }} :</strong>
                <ion-skeleton-text class="ion-margin-start" animated style="width: 50%"></ion-skeleton-text>
            </ion-row>
            <ion-row class="ion-margin-top">
                <strong>{{ 'GDT.BANK_NAME' | translate }} :</strong>
                <ion-skeleton-text class="ion-margin-start" animated style="width: 50%"></ion-skeleton-text>
            </ion-row>
            <ion-row class="ion-margin-top">
                <strong>{{ 'GDT.BANK_ACC_NAME' | translate }} :</strong>
                <ion-skeleton-text class="ion-margin-start" animated style="width: 50%"></ion-skeleton-text>
            </ion-row>
            <ion-row class="ion-margin-top">
                <strong>{{ 'GDT.BANK_ACC_NUM' | translate }} :</strong>
                <ion-skeleton-text class="ion-margin-start" animated style="width: 50%"></ion-skeleton-text>
            </ion-row>
            <ion-row class="ion-margin-top">
                <strong>{{ 'GDT.TAX_CARD_NUM' | translate }} :</strong>
                <ion-skeleton-text class="ion-margin-start" animated style="width: 50%"></ion-skeleton-text>
            </ion-row>
            <ion-row class="ion-margin-top">
                <strong>{{ 'GDT.PHONE_NUMBER' | translate }} :</strong>
                <ion-skeleton-text class="ion-margin-start" animated style="width: 50%"></ion-skeleton-text>
            </ion-row>
        </ion-grid>
        <!-- PDF section  -->
        <div class="Pdf-file">
            <strong>{{ 'DOC.DOWNLOAD_PDF' | translate }} :</strong>
            <div *ngIf="docs">
                <ion-card class="doc-card">
                    <ion-row *ngIf="docs.vat_certificate">
                        <ion-col size="3">
                            <ion-icon (click)="onClickDownload(docs.vat_certificate, 'vat_certificate')" color="primary"
                                class="pdf-icon" name="document-attach">
                            </ion-icon>
                        </ion-col>
                        <ion-col>
                            <p>1. {{ 'DOC.VAT_CERTIFICATE' | translate }}</p>
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon (click)="onClickDownload(docs.vat_certificate, 'vat_certificate')" color="primary"
                                size="large" name="download" mode="md">
                            </ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <ion-card class="doc-card">
                    <ion-row *ngIf="docs.patent">
                        <ion-col size="3">
                            <ion-icon (click)="onClickDownload(docs.patent, 'patent')" color="primary" class="pdf-icon"
                                name="document-attach">
                            </ion-icon>
                        </ion-col>
                        <ion-col>
                            <p>2. {{ 'DOC.PATENT' | translate }}</p>
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon (click)="onClickDownload(docs.patent, 'patent')" color="primary" size="large"
                                name="download" mode="md">
                            </ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <ion-card class="doc-card">
                    <ion-row *ngIf="docs.gdt_card">
                        <ion-col size="3">
                            <ion-icon (click)="onClickDownload(docs.gdt_card, 'gdt_card')" color="primary"
                                class="pdf-icon" name="document-attach">
                            </ion-icon>
                        </ion-col>
                        <ion-col>
                            <p>3. {{ 'DOC.GDT_CARD' | translate }}</p>
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon (click)="onClickDownload(docs.gdt_card, 'gdt_card')" color="primary" size="large"
                                name="download" mode="md">
                            </ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>

<!-- <pdf-viewer
    [src]="docs.patent"
    [fit-to-page]="false"
    [show-all]="false"
    [original-size]="false"
    [autoresize]="false"
    [show-borders]="true"
    (click)="onClickDownload(docs.patent, 'patent')"
    style="display: block;">
</pdf-viewer> -->