<ion-header>
	<ion-toolbar>
		<ion-title>login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- <div class="card-body">
		<div>
			<h4>LOGIN</h4>
			<h6>Enter your Username and Password </h6>
		</div>
		<form [formGroup]="loginForm">
			<div class="form-group">
				<label class="col-form-label pt-0">Email</label>
				<input class="form-control" formControlName="email" type="email" required="">
				<div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required"
					class="text text-danger mt-1">
					Email is required
				</div>
				<div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email"
					class="text text-danger mt-1">
					Invalid Email
				</div>
			</div>
			<div class="form-group">
				<label class="col-form-label">Password</label>
				<input class="form-control" type="password" formControlName="password" required="">
				<div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required"
					class="text text-danger mt-1">
					Password is required
				</div>
			</div>
			<div class="form-group form-row mt-3 mb-0">
				<button class="btn btn-primary btn-block btn-lg" [class.loader--text]="authService.showLoader"
					[disabled]="!loginForm.valid || authService.showLoader" (click)="login(loginForm.value)"
					type="submit"><span>{{ authService.showLoader ? '' : 'Login' }}</span>
				</button>
			</div>
		</form>
	</div> -->
	<ion-grid>
		<ion-row>
			<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
				<div text-center>
					<h4>NEOKON</h4>
				</div>
				<ion-list padding>
					<ion-item>
						<ion-input type="email" placeholder="Email"></ion-input>
					</ion-item>

					<ion-item>
						<ion-input type="password" placeholder="Password"></ion-input>
					</ion-item>
				</ion-list>
				<div padding>
					<ion-button size="large" expand="block" type="submit">Login
					</ion-button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>