.background {
    --background: #3069bb;
}

ion-content {
    width: 100%;
    margin: 0;

    .logo-wrapper {
        display: -webkit-box;
        height: 40%;

        .logo {
            width: 190px;
            height: 75px;
            display: block;
            margin: auto;
        }
    }

    .form {
        width: 80%;
        display: block;
        margin: auto;

        ion-item {
            border-radius: 10px;

            ion-input {
                --placeholder-color: #888686;
                --placeholder-opacity: 1;
                width: 100%;
            }
        }

        .btn-login {
            margin-top: 7rem;
            width: 100%;
            height: 50px;
            --border-radius: 10px;

            ion-label {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}
