<div>
  <ion-grid>
    <!-- title and image -->
    <ion-row>
      <ion-col>
        <h1>Avengers HQ</h1>
        <p class="loading">Last Viewed : July 4th 2019</p>
        <div class="top-img">
          <img src="../../assets/2.jpg" alt="" />
        </div>
        <div>
          <ion-row class="header-loading">
            <ion-progress-bar type="indeterminate"></ion-progress-bar>
            <span margin-left class="loading">99%</span>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <!-- end title and image -->

    <!-- reports and workers buttons -->
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          shape="round"
          [routerLink]="['/', 'reports']"
          color="medium"
          >Reports</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button expand="block" shape="round">Workers</ion-button>
      </ion-col>
    </ion-row>
    <!-- end works and reports buttons -->
  </ion-grid>
</div>

<ion-content>
  <!-- workers card -->
  <ion-card *ngFor="let worker of workers">
    <div style="padding: 10px">
      <ion-thumbnail slot="start" (click)="goToWorker(worker)">
        <ion-img *ngIf="worker.photo" [src]="worker.photo"></ion-img>
        <ion-img
          *ngIf="!worker.photo"
          [src]="'../../assets/people/worker.jpg'"
        ></ion-img>
      </ion-thumbnail>

      <ion-label>
        <div>
          <ion-row>
            <span margin-left class="card-font"
              >{{ worker.firstName }} {{ worker.lastName }}</span
            >
          </ion-row>
        </div>
        <div>
          <ion-row padding-top>
            <span margin-left class="loading">{{ worker.email }}</span>
          </ion-row>
        </div>
        <div>
          <ion-row padding-top>
            <span margin-left class="loading">{{
              worker.birthday | date: "mediumDate"
            }}</span>
          </ion-row>
        </div>
        <div>
          <ion-row
            style="width: 100%; padding-top: 10px"
            justify-content-center
          >
            <div>
              <ion-segment style="width: 180px; height: 30px">
                <ion-segment-button value="on" checked class="segment-button">
                  <ion-label>On</ion-label>
                </ion-segment-button>
                <ion-segment-button value="off" class="segment-button">
                  <ion-label>Off</ion-label>
                </ion-segment-button>
              </ion-segment>
            </div>
          </ion-row>
        </div>
      </ion-label>
    </div>
  </ion-card>
  <!-- end workers card -->

  <!-- floating action button -->
  <app-ion-fab slot="fixed"></app-ion-fab>
  <!-- end floating action button -->
</ion-content>
