<ion-toolbar color="secondary">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/workers"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<div class="header">
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <div class="title">
          <h1>Tony Stark</h1>
          <p class="loading">Last Viewed : July 4th 2019</p>
        </div>
        <ion-card *ngIf="worker">
          <div class="card">
            <ion-thumbnail slot="start">
              <ion-img *ngIf="worker.photo" [src]="worker.photo"></ion-img>
              <ion-img
                *ngIf="!worker.photo"
                [src]="'../../assets/people/worker.jpg'"
              ></ion-img>
            </ion-thumbnail>
            <ion-label>
              <div>
                <ion-row>
                  <span margin-left class="card-font"
                    >{{ worker.firstName }} {{ worker.lastName }}</span
                  >
                </ion-row>
              </div>
              <div>
                <ion-row padding-top>
                  <span margin-left class="loading">{{ worker.email }}</span>
                </ion-row>
              </div>
              <div>
                <ion-row padding-top>
                  <span margin-left class="loading">{{
                    worker.birthday | date: "mediumDate"
                  }}</span>
                </ion-row>
              </div>
              <div class="segment">
                <ion-row justify-content-center>
                  <div>
                    <ion-segment>
                      <ion-segment-button
                        value="on"
                        checked
                        class="segment-button"
                      >
                        <ion-label>On</ion-label>
                      </ion-segment-button>
                      <ion-segment-button value="off" class="segment-button">
                        <ion-label>Off</ion-label>
                      </ion-segment-button>
                    </ion-segment>
                  </div>
                </ion-row>
              </div>
            </ion-label>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding>
        <div class="select">
          <ion-select interface="popover" placeholder="Weather">
            <ion-select-option value="nes">NES</ion-select-option>
            <ion-select-option value="n64">Nintendo64</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>
    <div justify-content-center>
      <ion-row class="header-loading">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
        <div class="loading-text">
          <div class="loading">Min</div>
          <div class="loading">Min</div>
        </div>
      </ion-row>
    </div>
    <div class="title">
      <span>Team Leader's Reports</span>
    </div>
  </ion-grid>
</div>

<ion-content>
  <ion-grid no-padding>
    <ion-card>
      <div class="card report-img">
        <ion-thumbnail slot="start">
          <ion-img [src]="'../../assets/Background.png'"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <ion-row>
            <span margin-left class="card-font">Phnom Penh, Spaceship</span>
          </ion-row>
          <div>
            <ion-row>
              <span margin-left class="loading">Last Check In : 12:04 AM</span>
            </ion-row>
          </div>
          <div>
            <ion-row>
              <span margin-left class="loading">Total Hours : 112 hours</span>
            </ion-row>
          </div>
          <div>
            <ion-row>
              <span margin-left class="loading">Team : 20 Workers</span>
            </ion-row>
          </div>
        </ion-label>
      </div>
    </ion-card>
  </ion-grid>
</ion-content>
