<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button color="tertiary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button href="reports">
      <ion-icon name="paper"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button href="worksites">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button>
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
