<ion-content center text-center class="background">
    <div class="logo-wrapper">
        <div class="logo">
            <ion-img src="assets/logo/kg-all-logo.png"></ion-img>
        </div>
    </div>
    <div class="form" text-center padding>
        <form [formGroup]="loginForm">
            <ion-item class="ion-margin-bottom">
                <ion-input
                    placeholder="Username"
                    padding
                    required
                    formControlName="userName"
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                    type="password"
                    placeholder="Password"
                    padding
                    formControlName="password"
                ></ion-input>
            </ion-item>

            <ion-button
                class="btn-login"
                color="secondary"
                (click)="login()"
                type="submit"
            >
                <ion-label color="light">Login</ion-label>
            </ion-button>
        </form>
    </div>
</ion-content>
