<ion-header>
  <ion-item lines="none" class="profile">
    <ion-avatar slot="start">
      <img src="../../assets/people/worker.jpg" />
    </ion-avatar>
    <ion-label>
      <div>
        <ion-row>
          <span class="name">Robert Downey Jr.</span>
        </ion-row>
      </div>
      <div>
        <ion-row>
          <span class="content" padding-top>fsdafasdf</span>
        </ion-row>
      </div>
    </ion-label>
  </ion-item>

  <ion-grid class="title">
    <ion-row>
      <ion-col style="height: 60px">
        <h1>WORKSITES</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="search">
    <ion-searchbar no-padding></ion-searchbar>
  </div>
  <div class="main">
    <div class="scroll-main">
      <div>
        <ion-button
          class="filter"
          [color]="ionicNamedColor"
          (click)="toggleNamedColor()"
        >
          <span>
            Phnom Penh
          </span>
          <ion-icon name="add-circle" color="light"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-button class="filter" color="medium">
          <span>Default</span>
          <ion-icon name="add-circle" color="light"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-button class="filter" color="medium">
          <span>Default</span>
          <ion-icon name="add-circle" color="light"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-button class="filter" color="medium">
          <span>Default</span>
          <ion-icon name="add-circle" color="light"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-card *ngFor="let worksite of worksites">
    <div class="card">
      <ion-thumbnail slot="start">
        <ion-img *ngIf="worksite.photo" [src]="worksite.photo"></ion-img>
        <ion-img
          *ngIf="!worksite.photo"
          [src]="'../../assets/login.png'"
        ></ion-img>
      </ion-thumbnail>
      <ion-label>
        <ion-row>
          <span margin-left class="card-font">{{ worksite.name }}</span>
        </ion-row>
        <div>
          <ion-row>
            <span margin-left class="loading" style="height: 25px"
              >Last viewed: {{ worksite.address }}</span
            >
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-progress-bar value="0.25"></ion-progress-bar>
            <span margin-left class="loading">99%</span>
          </ion-row>
        </div>
      </ion-label>
    </div>
  </ion-card>
  <ion-button (click)="refreshWorksites()">
    Refresh Worksites
  </ion-button>

  <!-- floating buttons -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="reports">
        <ion-icon name="paper"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button href="worksites">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button href="workers">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- end floating buttons -->
</ion-content>
