ion-content {
    .main-container {
        // padding: 30px 0 0 15px;

        .table_header{
            color: var(--ion-color-primary);
        }

        .forecast_container {
            overflow-x: scroll!important;
            overflow-y: hidden;
        }
    }
}
