<ion-tabs>

    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="tax-per-months">
        <!-- <ion-icon name="home"></ion-icon> -->
        <ion-icon size="large" name="list"></ion-icon>
        <ion-label class="text-bold ion-no-margin">ពន្ធប្រចាំខែ</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tax-per-years">
        <ion-icon size="large" name="newspaper"></ion-icon>
        <ion-label class="text-bold ion-no-margin">ពន្ធប្រចាំឆ្នាំ</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
    
</ion-tabs>
