<ion-app>
    <ion-menu contentId="main-content" side="start" mode="md">
        <!-- Header  -->
        <ion-header>
            <ion-row class="title">
                <ion-col size="12">
                    <ion-title class="titleInKhmer" color="light">{{ company?.nameInKhmer }}</ion-title>
                    <ion-title color="light">{{ company?.name }}</ion-title>
                </ion-col>
            </ion-row>
        </ion-header>
        <!-- Content  -->
        <ion-content>
            <ion-list lines="none">
                <!-- <ion-menu-toggle auto-hide="false" *ngFor="let page of pages"> -->
                    <div *ngFor="let page of pages">
                        <ion-item *ngIf="page.path" (click)="goToOtherPage(page.path)">
                            <ion-icon class="ion-padding-end" [name]="page.icon" size="small" mode="md"></ion-icon>
                            {{page.name}}
                        </ion-item>
                        <ion-item *ngIf="!page.path && page.name === 'ទាក់ទង​មក​ពួក​យើង'" (click)="contactUs()">
                            <ion-icon class="ion-padding-end" [name]="page.icon" size="small" mode="md"></ion-icon>
                            {{page.name}}
                        </ion-item>
                    </div>
                <!-- </ion-menu-toggle> -->
            </ion-list>
        </ion-content>
        <!-- Footer  -->
        <ion-footer>
            <ion-toolbar class="text-center">
                <ion-button (click)="logout()" color="secondary">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <ion-label color="light">ចាកចេញ</ion-label>
                </ion-button>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content" main>
        <ion-header>
            <ion-toolbar color="primary" mode="ios">
                <ion-buttons slot="start">
                    <ion-menu-button color="light" autoHide="false"></ion-menu-button>
                </ion-buttons>
                <ion-title color="light">
                    KG-ALL
                </ion-title>
                <ion-buttons class="phone-icon" slot="end" (click)="contactUs()">
                    <ion-icon color="light" name="call" mode="md"></ion-icon>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-card class="main-section border-primary">
                <ion-grid class="second-section" fixed shadow>
                    <ion-row class="border-b">
                        <ion-col class="border-r" size="6">
                            <div class="btn-section">
                                <div class="div-btn text-center" (click)="goToOtherPage('general')">
                                    <div>
                                        <ion-icon color="light" name="briefcase"></ion-icon>
                                    </div>
                                    <ion-label class="text-bold" color="light">ពត៌មានទូទៅ</ion-label>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="btn-section">
                                <div class="div-btn text-center" (click)="goToOtherPage('obligation')">
                                    <div>
                                        <ion-icon color="light" name="list"></ion-icon>
                                    </div>
                                    <ion-label class="text-bold" color="light">ស្ថានភាពក្រុមហ៊ុន</ion-label>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="border-r" size="6">
                            <div class="btn-section">
                                <div class="div-btn text-center" (click)="goToOtherPage('tax-calculation')">
                                    <div>
                                        <ion-icon color="light" name="calculator"></ion-icon>
                                    </div>
                                    <ion-label class="text-bold" color="light">ការគណនាពន្ធ</ion-label>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="btn-section">
                                <div class="div-btn text-center">
                                    <div>
                                        <ion-icon color="light" name="card"></ion-icon>
                                    </div>
                                    <ion-label class="text-bold" color="light">សេវាកម្ម</ion-label>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-content>
    </ion-router-outlet>
</ion-app>
