<ion-app>
    <ion-menu contentId="main-content" side="start" mode="md">
        <!-- Header  -->
        <ion-header>
            <ion-row class="title">
                <ion-col size="12">
                    <ion-title class="titleInKhmer" color="light">{{ company?.nameInKhmer }}</ion-title>
                    <ion-title color="light">{{ company?.name }}</ion-title>
                </ion-col>
            </ion-row>
        </ion-header>
        <!-- Content  -->
        <ion-content>
            <ion-list lines="none">
                <!-- <ion-menu-toggle auto-hide="false" *ngFor="let page of pages"> -->
                    <div *ngFor="let page of pages">
                        <ion-item *ngIf="page.path" (click)="goToOtherPage(page.path)">
                            <ion-icon class="ion-padding-end" [name]="page.icon" size="small" mode="md"></ion-icon>
                            {{ page.name | translate }}
                        </ion-item>
                        <ion-item *ngIf="!page.path && page.name === 'SIDE_MENU.CONTACT_US'" (click)="contactUs()">
                            <ion-icon class="ion-padding-end" [name]="page.icon" size="small" mode="md"></ion-icon>
                            {{ page.name | translate }}
                        </ion-item>
                    </div>
                <!-- </ion-menu-toggle> -->
            </ion-list>
        </ion-content>
        <!-- Footer  -->
        <ion-footer>
            <ion-toolbar class="text-center">
                <ion-button (click)="logout()" color="secondary">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <ion-label color="light">{{ 'LOGOUT' | translate }}</ion-label>
                </ion-button>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content" main>
        <ion-header>
            <ion-toolbar color="primary" mode="ios">
                <ion-buttons slot="start">
                    <ion-menu-button color="light" autoHide="false"></ion-menu-button>
                </ion-buttons>
                <ion-title color="light">
                    {{ 'KG_ALL' | translate }}
                </ion-title>
                <ion-buttons class="phone-icon" slot="end" (click)="changeLanguage()">
                    <ion-button>
                        <ion-img class="lang-icon" [src]="langIconSrc"></ion-img>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <div class="main-section">
                <div class="second-section">
                    <ion-row class="h-100-p">
                        <ion-col size="6">
                            <ion-card class="btn-section ion-no-margin" color="primary">
                                <div class="div-btn text-center" (click)="goToOtherPage('general')">
                                    <div>
                                        <ion-icon color="light" name="briefcase"></ion-icon>
                                    </div>
                                    <ion-label class="text-bold" color="light">{{ 'HOME_PAGE.BTN1' | translate }}</ion-label>
                                </div>
                            </ion-card>
                        </ion-col>
                        <ion-col size="6">
                            <ion-card class="btn-section ion-no-margin" color="primary">
                                <div class="div-btn text-center" (click)="goToOtherPage('obligation')">
                                    <div>
                                        <ion-icon color="light" name="list"></ion-icon>
                                    </div>
                                    <ion-label class="text-bold" color="light">{{ 'HOME_PAGE.BTN2' | translate }}</ion-label>
                                </div>
                            </ion-card>
                        </ion-col>
                        <ion-col size="6">
                            <ion-card class="btn-section ion-no-margin" color="primary">
                                <div class="div-btn text-center" (click)="goToOtherPage('tax-calculation')">
                                    <div>
                                        <ion-icon color="light" name="calculator"></ion-icon>
                                    </div>
                                    <ion-label class="text-bold" color="light">{{ 'HOME_PAGE.BTN3' | translate }}</ion-label>
                                </div>
                            </ion-card>
                        </ion-col>
                        <ion-col size="6">
                            <ion-card class="btn-section ion-no-margin" color="primary">
                                <div class="div-btn text-center" (click)="goToOtherPage('service-pricing')">
                                    <div>
                                        <ion-icon color="light" name="card"></ion-icon>
                                    </div>
                                    <ion-label class="text-bold" color="light">{{ 'HOME_PAGE.BTN4' | translate }}</ion-label>
                                </div>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-content>
    </ion-router-outlet>
</ion-app>
