ion-header {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f5f5f5;

  .profile {
    --background: #f5f5f5;

    ion-avatar {
      width: 76px;
      height: 76px;
      border: 2px solid #FFCE00
    }

    .content {
      font-size: 16px;
      padding-top: 8px
    }
  }

}

.name {
  font-size: 24px;
  font-weight: bold;
  font-family: Big John
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f5f5f5;

  div {
    display: flex;
    flex-direction: row
  }

  .top-img {
    height: 163px;

    img {
      border-radius: 8px;
    }
  }

  .header-loading {
    width: 100%;
    padding-top: 15px
  }

  .loading {
    font-size: 12px;
    color: #000000;

  }

  .title {
    font-size: 16px;
    font-weight: bold
  }

  p {
    font-size: 16px
  }
}