<ion-header>
  <ion-item lines="none" class="profile" padding-top>
    <ion-avatar slot="start">
      <img src="../../assets/people/worker.jpg" />
    </ion-avatar>
    <ion-label>
      <div>
        <ion-row>
          <span class="name">THOR</span>
        </ion-row>
      </div>
      <div>
        <ion-row>
          <span class="content" padding-top>Guardian of The Building</span>
        </ion-row>
      </div>
    </ion-label>
  </ion-item>
</ion-header>

<ion-grid class="main" padding-top>
  <ion-row>
    <ion-col>
      <div class="name">Avengers HQ</div>
      <p class="loading">Last Viewed : July 4th 2019</p>
      <div class="top-img">
        <img src="../../assets/login.png" alt="" style="object-fit: cover" />
      </div>
      <div>
        <ion-row class="header-loading">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
          <span margin-left class="loading">99%</span>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row padding-top>
    <ion-col>
      <div class="title">Address</div>
      <p>Avenger St, House 12120, CA, United States of America</p>
      <div class="title">Staff</div>
      <p>1 Worksite Manager, 20 Team Leaders, 80 Workers, 1 Security</p>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button color="primary">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-grid>
