ion-content {
    .main-container {
        padding: 20px 15px 0 15px;

        ion-card {
            ion-card-header {
                padding: 8px;
    
                ion-card-title {
                    text-transform: uppercase;
                    font-size: 16px;
                }
    
                .trash-icon {
                    font-size: 16px;
                }
            }

            ion-card-content {
                height: 97px;
                overflow-y: scroll;
            }

            &.card-loading {
                height: 120px;

                ion-card-header {
                    height: 35px;
                }
            }

            .footer {
                font-size: smaller;
            }
        }
    }

    .btn-fixed {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}
