<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons (click)="backTaxCalculation()" class="ion-padding-horizontal" slot="start">
			<ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title color="light">{{ 'TAX_CALCULATION.BTN2' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
		<div class="ion-margin-top">
			<form class="tax-calculation-form ion-padding-horizontal" [formGroup]="taxCalculationForm">
				<div class="ion-padding-bottom">
					<div>
						<ion-label position="floating">{{ 'TAX_CALCULATION.SALARY' | translate }}</ion-label>
						<ion-item>
							<ion-input type="number" placeholder="0 ៛" formControlName="salary" required></ion-input>
						</ion-item>
					</div>
					<div class="ion-margin-top">
						<ion-label position="floating">{{ 'TAX_CALCULATION.BONUS' | translate }}</ion-label>
						<ion-item>
							<ion-input type="number" placeholder="0 ៛" formControlName="bonus"></ion-input>
						</ion-item>
					</div>
					<div class="ion-margin-top">
						<ion-label position="floating">{{ 'TAX_CALCULATION.SPOUSE' | translate }}</ion-label>
						<ion-row>
							<ion-col size="3">
								<ion-button (click)="radioButtonCLick()" [fill]="!isHad? 'outline' : 'solid'" class="w-100-p btn-radio">
									<ion-label>{{ 'TAX_CALCULATION.BTN_HAVE' | translate }}</ion-label>
								</ion-button>
							</ion-col>
							<ion-col size="3">
								<ion-button (click)="radioButtonCLick()" [fill]="isHad? 'outline' : 'solid'" class="w-100-p btn-radio">
									<ion-label>{{ 'TAX_CALCULATION.BTN_NO_HAVE' | translate }}</ion-label>
								</ion-button>
							</ion-col>
						</ion-row>
					</div>
					<div class="ion-margin-top">
						<ion-label>{{ 'TAX_CALCULATION.CHILDREN' | translate }}</ion-label>
						<ion-row>
							<div class="icon-wrapper">
								<ion-icon (click)="childrenDecrese()" color="primary" name="remove-circle"></ion-icon>
							</div>
							<ion-item class="ion-margin-start last">
								<ion-input type="number" placeholder="0" formControlName="children"></ion-input>
							</ion-item>
							<div class="icon-wrapper ion-margin-start">
								<ion-icon (click)="childrenIncrease()" color="primary" name="add-circle"></ion-icon>
							</div>
						</ion-row>
					</div>
				</div>
				<div class="ion-margin-top">
					<ion-row>
						<ion-col class="ion-no-padding" size="12">
							<ion-col class="ion-no-padding" size="7">
								<ion-button color="primary" type="submit" class="w-100-p btn-calculation" (click)="calculation()">
									<ion-label color="light">{{ 'TAX_CALCULATION.BTN_CALCULATE' | translate }}</ion-label>
								</ion-button>
							</ion-col>
						</ion-col>
					</ion-row>
				</div>
			</form>
		</div>
		<!-- Result of calculation -->
		<div *ngIf="isShowingResults" class="ion-padding-horizontal">
			<div class="ion-text-center ion-margin-top">
				<strong>{{ 'TAX_CALCULATION.RESULT' | translate }}</strong>
			</div>
			<div class="ion-margin-bottom">
				<ion-card class="result-card ion-no-margin ion-padding-vertical">
					<ion-card-content class="ion-no-padding">
						<ion-list class="result-list ion-no-padding" lines="none">
							<ion-item>
								<ion-col>
									<ion-label color="light">{{ 'TAX_CALCULATION.SALARY_TAX' | translate }} ៖</ion-label>
									<ion-label color="light">
										<strong>
											{{ calucationResults.salaryTax | number }} ៛
										</strong>
									</ion-label>
								</ion-col>
							</ion-item>
							<ion-item>
								<ion-col>
									<ion-label color="light">{{ 'TAX_CALCULATION.BONUS_TAX' | translate }} ៖</ion-label>
									<ion-label color="light">
										<strong>
											{{ calucationResults.bonusTax | number }} ៛
										</strong>
									</ion-label>
								</ion-col>
							</ion-item>
							<ion-item>
								<ion-col>
									<ion-label color="light">{{ 'TAX_CALCULATION.TOTAL_TAX' | translate }} ៖</ion-label>
									<ion-label color="light">
										<strong>
											{{ calucationResults.totalTax | number }} ៛
										</strong>
									</ion-label>
								</ion-col>
							</ion-item>
							<ion-item>
								<ion-col>
									<ion-label color="light">{{ 'TAX_CALCULATION.TAX_RATE' | translate }} ៖</ion-label>
									<ion-label color="light">
										<strong>
											{{ calucationResults.rate }} %
										</strong>
									</ion-label>
								</ion-col>
							</ion-item>
							<ion-item>
								<ion-col>
									<ion-label color="light">{{ 'TAX_CALCULATION.FINAL_SALARY' | translate }} ៖</ion-label>
									<ion-label color="light">
										<strong>
											{{ calucationResults.salaryLeft | number }} ៛
										</strong>
									</ion-label>
								</ion-col>
							</ion-item>
						</ion-list>
					</ion-card-content>
				</ion-card>
			</div>
		</div>
  </div>
</ion-content>

<!-- <div class="ion-margin-top">
					<ion-row *ngIf="!isEditing">
						<ion-col class="ion-no-padding ion-padding-end" size="5">
							<ion-button fill="outline" class="w-100-p btn-calculation" (click)="resetForm()">
								<ion-label>កំណត់ឡើងវិញ</ion-label>
							</ion-button>
						</ion-col>
						<ion-col class="ion-no-padding" size="7">
							<ion-button color="primary" type="submit" class="w-100-p btn-calculation" (click)="saveForCalculation()">
								<ion-label color="light">រក្សាទុកសម្រាប់ការគណនា</ion-label>
							</ion-button>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="isEditing">
						<ion-col class="ion-no-padding ion-padding-end" size="5">
							<ion-button fill="outline" class="w-100-p btn-calculation" (click)="cancelEdit()">
								<ion-label>បោះបង់</ion-label>
							</ion-button>
						</ion-col>
						<ion-col class="ion-no-padding" size="7">
							<ion-button color="primary" type="submit" class="w-100-p btn-calculation" (click)="saveEdit()">
								<ion-label color="light">រក្សាទុក</ion-label>
							</ion-button>
						</ion-col>
					</ion-row>
				</div>
				<div *ngIf="cardInputArray.length > 0" class="card-input-wrapper ion-margin-top">
					<ion-label class="title">បញ្ជីបុគ្គលិក</ion-label>
					<ion-slides class="ion-padding-vertical" mode="ios" scrollbar="true" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
						<ion-slide *ngFor="let item of cardInputArray; let index = index">
								<ion-card class="card-input ion-no-margin">
									<ion-card-content class="ion-no-padding ion-padding-top ion-text-center">
										<ion-label color="light">បុគ្គលិក {{index + 1}}</ion-label>
										<ion-buttons class="ion-margin-top">
											<ion-button class="w-100-p" (click)="editInput(index)">
												<ion-label color="light">កែប្រែ</ion-label>
												<ion-icon color="light" size="small" name="create-outline"></ion-icon>
											</ion-button>
										</ion-buttons>
									</ion-card-content>
								</ion-card>
						</ion-slide>
					</ion-slides>
				</div> -->
