<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons (click)="backHome()" class="ion-padding-horizontal" slot="start">
			<ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title color="light">{{ 'DOC_PAGE.HEADER' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-progress-bar *ngIf="isFetching" type="indeterminate"></ion-progress-bar>
	<div class="main-container">
		<div class="request-section">
			<form [formGroup]="requestForm">
				<ion-textarea class="ion-margin-bottom" placeholder="{{ 'DOC_PAGE.REQUEST_PLACEHOLDER' | translate }}" padding required formControlName="description"></ion-textarea>
				<div class="ion-text-end">
					<ion-button color="primary" (click)="submitRequest()" type="submit">
						<ion-label color="light">{{ 'DOC_PAGE.BTN_REQUEST' | translate }}</ion-label>
					</ion-button>
				</div>
			</form>
		</div>
		<!-- PDF section  -->
        <div class="pdf-file">
			<strong class="ion-margin-top">{{ 'DOC.DOWNLOAD_PDF' | translate }} :</strong>
			<div *ngIf="!isFetching">
				<div *ngIf="docs">
					<ion-card *ngIf="docs.moc_certificate" class="doc-card">
						<ion-row>
							<ion-col size="3">
								<ion-icon (click)="onClickdownload(docs.moc_certificate, 'moc_certificate')"
									color="primary" 
									class="pdf-icon" 
									name="document-attach">
								</ion-icon>
							</ion-col>
							<ion-col>
								<p>1. {{ 'DOC.MOC_CERTIFICATE' | translate }}</p>
							</ion-col>
							<ion-col size="2">
								<ion-icon
									(click)="onClickdownload(docs.moc_certificate, 'moc_certificate')"
									color="primary"
									size="large"
									name="download"
									mode="md">
								</ion-icon>
							</ion-col>
						</ion-row>
					</ion-card>
					<ion-card *ngIf="docs.business_extract" class="doc-card">
						<ion-row>
							<ion-col size="3">
								<ion-icon (click)="onClickdownload(docs.business_extract, 'business_extract')"
									color="primary" 
									class="pdf-icon" 
									name="document-attach">
								</ion-icon>
							</ion-col>
							<ion-col>
								<p>2. {{ 'DOC.BUSINESS_EXTRACT' | translate }}</p>
							</ion-col>
							<ion-col size="2">
								<ion-icon
									(click)="onClickdownload(docs.business_extract, 'business_extract')"
									color="primary"
									size="large"
									name="download"
									mode="md">
								</ion-icon>
							</ion-col>
						</ion-row>
					</ion-card>
					<ion-card *ngIf="docs.vat_certificate" class="doc-card">
						<ion-row>
							<ion-col size="3">
								<ion-icon (click)="onClickdownload(docs.vat_certificate, 'vat_certificate')"
									color="primary" 
									class="pdf-icon" 
									name="document-attach">
								</ion-icon>
							</ion-col>
							<ion-col>
								<p>3. {{ 'DOC.VAT_CERTIFICATE' | translate }}</p>
							</ion-col>
							<ion-col size="2">
								<ion-icon
									(click)="onClickdownload(docs.vat_certificate, 'vat_certificate')"
									color="primary"
									size="large"
									name="download"
									mode="md">
								</ion-icon>
							</ion-col>
						</ion-row>
					</ion-card>
					<ion-card *ngIf="docs.patent" class="doc-card">
						<ion-row>
							<ion-col size="3">
								<ion-icon (click)="onClickdownload(docs.patent, 'patent')"
									color="primary" 
									class="pdf-icon" 
									name="document-attach">
								</ion-icon>
							</ion-col>
							<ion-col>
								<p>4. {{ 'DOC.PATENT' | translate }}</p>
							</ion-col>
							<ion-col size="2">
								<ion-icon
									(click)="onClickdownload(docs.patent, 'patent')"
									color="primary"
									size="large"
									name="download"
									mode="md">
								</ion-icon>
							</ion-col>
						</ion-row>
					</ion-card>
					<ion-card *ngIf="docs.gdt_card" class="doc-card">
						<ion-row>
							<ion-col size="3">
								<ion-icon (click)="onClickdownload(docs.gdt_card, 'gdt_card')"
									color="primary" 
									class="pdf-icon" 
									name="document-attach">
								</ion-icon>
							</ion-col>
							<ion-col>
								<p>5. {{ 'DOC.GDT_CARD' | translate }}</p>
							</ion-col>
							<ion-col size="2">
								<ion-icon
									(click)="onClickdownload(docs.gdt_card, 'gdt_card')"
									color="primary"
									size="large"
									name="download"
									mode="md">
								</ion-icon>
							</ion-col>
						</ion-row>
					</ion-card>
				</div>
				<!-- Other Doc  section-->
				<div *ngIf="docs && docs.others" class="ion-margin-top ion-margin-bottom">
					<strong>
						ឯកសារផ្សេងៗជា PDF :
					</strong>
					<div>
						<ion-searchbar (ionInput)="filterDocs($event)" showCancelButton="focus" placeholder="{{ 'DOC_PAGE.SEARCH' | translate }}"></ion-searchbar>
					</div>
					<ion-card  *ngFor="let doc of otherDocsFiltered;let index = index" class="doc-card">
						<ion-row>
							<ion-col size="3">
								<ion-icon (click)="onClickdownload(doc.docUrl, doc.title)"
									color="primary" 
									class="pdf-icon" 
									name="document-attach">
								</ion-icon>
							</ion-col>
							<ion-col>
								<p>{{ index + 1 }}. {{ currentLang === 'en' ? doc.title : doc.titleInKhmer }}</p>
							</ion-col>
							<ion-col size="2">
								<ion-icon
									(click)="onClickdownload(doc.docUrl, doc.title)"
									color="primary"
									size="large"
									name="download"
									mode="md">
								</ion-icon>
							</ion-col>
						</ion-row>
					</ion-card>
				</div>
			</div>
			<!-- loading -->
			<div *ngIf="isFetching">
				<ion-card class="doc-card">
					<ion-row>
						<ion-col size="3">
							<div class="loading-box"></div>
						</ion-col>
						<ion-col>
							<ion-skeleton-text class="ion-margin-start" animated style="width: 40%"></ion-skeleton-text>
							<ion-skeleton-text class="ion-margin-start" animated style="width: 30%"></ion-skeleton-text>
							<ion-skeleton-text class="ion-margin-start" animated style="width: 20%"></ion-skeleton-text>
						</ion-col>
					</ion-row>
				</ion-card>
				<ion-card class="doc-card">
					<ion-row>
						<ion-col size="3">
							<div class="loading-box"></div>
						</ion-col>
						<ion-col>
							<ion-skeleton-text class="ion-margin-start" animated style="width: 40%"></ion-skeleton-text>
							<ion-skeleton-text class="ion-margin-start" animated style="width: 30%"></ion-skeleton-text>
							<ion-skeleton-text class="ion-margin-start" animated style="width: 20%"></ion-skeleton-text>
						</ion-col>
					</ion-row>
				</ion-card>
				<ion-card class="doc-card">
					<ion-row>
						<ion-col size="3">
							<div class="loading-box"></div>
						</ion-col>
						<ion-col>
							<ion-skeleton-text class="ion-margin-start" animated style="width: 40%"></ion-skeleton-text>
							<ion-skeleton-text class="ion-margin-start" animated style="width: 30%"></ion-skeleton-text>
							<ion-skeleton-text class="ion-margin-start" animated style="width: 20%"></ion-skeleton-text>
						</ion-col>
					</ion-row>
				</ion-card>
			</div>
        </div>
	</div>
</ion-content>
