ion-content {
    .main-container {
        padding: 80px 15px 0 15px;

        .Pdf-file {
            // margin-top: 0px;

            a {
                text-decoration: underline;
                color: #3069bb;
                font-size: 14px;
            }

            .pdf-icon {
                font-size: 4rem;
            }
        }
    }
}

ion-textarea{
    border: solid 1px;
    border-radius: 10px;
}
