<ion-header>
    <ion-toolbar color="dark">
        <ion-title color="light">
            Home
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button color="light" autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <div class="main-section border-primary">
        <div
            *ngFor="let btn of btnGroup; let lastIndex = last"
            class="second-section"
        >
            <div [ngClass]="{'border-bottom-0': lastIndex}" class="btn-section">
                <div class="div-btn" (click)="goToOtherPage($event)">
                    <ion-label class="text-bold" color="primary"
                        >{{btn}}</ion-label
                    >
                </div>
            </div>
        </div>
    </div>
</ion-content>
